{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h4>Envoie d'un email</h4>

    {{ form_start(formContact) }}

    {{ form_label(formContact.prenom,"prenom")}}
    {{ form_widget(formContact.prenom, {
        'attr' : {
            'placeholder' : "Saisir votre prenom"
        },
    })}}

    {{ form_label(formContact.nom,"nom")}}
    {{ form_widget(formContact.nom, {
        'attr' : {
            'placeholder' : "Saisir votre nom"
        },
    })}}

    {{ form_label(formContact.email,"email")}}
    {{ form_widget(formContact.email, {
        'attr' : {
            'placeholder' : "Saisir votre email"
        },
    })}}

    {{ form_label(formContact.objet,"objet")}}
    {{ form_widget(formContact.objet, {
        'attr' : {
            'placeholder' : "Saisir l'objet de votre message"
        },
    })}}


    {{ form_label(formContact.contenu,"Contenu de l'article")}}
    {{ form_widget(formContact.contenu, {
        'attr' : {
            'placeholder' : "Veuillez saisir un contenu"
        },
    })}}




    <input type="submit" class="btn btn-primary mt-3" value="ajouter">

    {{ form_end(formContact) }}

{% endblock %}
