{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <h1>Détail article</h1>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ article.titre }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ article.createdAt | date("d/m/Y")  }}</h6>
            <h6 class="card-subtitle mb-2 text-muted "><a class="btn btn-secondary" href="{{ path("app_categorie_slug" , {slug : article.categorie.slug })}}">{{ article.categorie.titre }}</a></h6>
            <p class="card-text">{{ article.contenu }} </p>

        </div>
    </div>

{% endblock %}