{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <h1 class="mt-3 mb-4">Détail article</h1>
    <div class="  mb-5">
        <h5 class=""> <b>{{ article.titre }} </b> {{ article.createdAt | date("d/m/Y")  }}</h5>
        {% if article.categorie is not null %}
        <h6 class=" "><a class="btn btn-secondary" href="{{ path("app_categorie_slug" , {slug : article.categorie.slug })}}">{{ article.categorie.titre }}</a></h6>
        {% else %}
        <h6> Aucune catégorie </h6>
        {% endif %}
        <p class="">{{ article.contenu | raw }} </p>
    </div>

    {% if article.commentaires.count >1 %}
    <h3 class="mb-3">{{ article.commentaires.count}} Commentaires</h3>

    {% elseif article.commentaires.count == 0 %}
        <h3 class="mb-3">Aucun commentaire</h3>

    {% else %}
    <h3 class="mb-3">{{ article.commentaires.count}} Commentaire</h3>
    {% endif %}

    <h4>Ajout d'un commentaire</h4>

    {{ form_start(formCommentaire) }}

    {{ form_label(formCommentaire.pseudo,"Pseudo utilisateur")}}
    {{ form_widget(formCommentaire.pseudo, {
        'attr' : {
            'placeholder' : "Saisir votre pseudo"
        },
    })}}


    {{ form_label(formCommentaire.contenu,"Contenu de l'article")}}

    {{ form_widget(formCommentaire.contenu, {
        'attr' : {
            'placeholder' : "Veuillez saisir un contenu"
        },
    })}}




    <input type="submit" class="btn btn-primary mt-3" value="ajouter">

    {{ form_end(formCommentaire) }}

    <div class="">
        {% for commentaire in commentaires %}
            <ul>
            {%if commentaire.utilisateurId %}
            <li><h5><b>{{ commentaire.utilisateurId.pseudo }} </b>{{ commentaire.createAt | date("d/m/Y") }}</h5></li>
            {%else %}
            <li><h5> <b>Anonyme {{ commentaire.createAt | date("d/m/Y") }}</b></h5></li>
            {% endif %}
            <p class="mb-3">{{ commentaire.contenu }}</p>
            </ul>
        {% endfor %}
    </div>



{% endblock %}